footer {
  height: 66px;
  border-top: 4px solid #bdcfe5;
  display: flex;
  a {
    text-align: center;
    color: #5988bb;
    margin: 24px auto;
    text-decoration: none;
    border-bottom: 1px dotted #5988bb;
  }
}
